<div class="container">
    <div class="hamburger">
        <app-hamburger-menu></app-hamburger-menu>
    </div>
    <div class="sidebar" [ngClass]="width < 1000 ? 'hide' : 'show'">
        <app-sidebar-menu [currentItem]="0"></app-sidebar-menu>
    </div>
    <div class="content">
        <ng-lottie class="animation"
            [options]="options" *ngIf="searchText==''">
        </ng-lottie>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" [(ngModel)]="searchText" (keydown.enter)="this.searchFiltres(0)" pInputText #search class="p-inputtext-lg"  placeholder="Rechercher un médicament" >
        </span>
        <div class="toolbar-container">
            <div class="filter-container" [ngClass]="this.checkIfIsFiltred() ? 'filter-selected' : ''" *ngIf="!showFilters" (click)="showFilters = true" >
                <img *ngIf="!this.checkIfIsFiltred()" src="./assets/filter-search.svg" alt="Filtre icône" class="filter-icon"/>
                <img  *ngIf="this.checkIfIsFiltred()" src="./assets/filter-tick.svg" alt="Filtre icône" class="filter-icon"/>
                <p class="filter-label">Filtrer</p>
            </div>
            <div class="filter-container" *ngIf="showFilters" (click)="showFilters = false">
                <img src="./assets/close.svg" alt="Fermer icône" class="filter-icon"/>
                <p class="filter-label">Fermer</p>
            </div>
            <div class="filter-container" [ngClass]="this.currentPriceFiltrerState != PriceFilter.NONE ? 'filter-selected' : ''" (click)="changePriceFilter()">
                <img *ngIf="this.currentPriceFiltrerState !== PriceFilter.PRICE_DSC" src="./assets/trend-up.svg" alt="Trier prix croissant icône" class="filter-icon"/>
                <img *ngIf="this.currentPriceFiltrerState === PriceFilter.PRICE_DSC" src="./assets/trend-down.svg" alt="Trier prix décroissant icône" class="filter-icon"/>
                <p class="filter-label">{{this.currentPriceFiltrerState === PriceFilter.PRICE_DSC ?'Trier par prix décroissant': 'Trier par prix croissant'}}</p>
            </div>
        </div>
        <div class="filter-wrap" *ngIf="showFilters">
            <div class="autocomplete-container">
                <p>Principes actifs: </p>
                <span class="p-fluid">
                    <p-autoComplete [(ngModel)]="selectedComposition" [suggestions]="filteredComposition" (completeMethod)="filterComposition($event)" [multiple]="true">
                    </p-autoComplete>
                </span>
            </div>
            <div class="autocomplete-container">
                <p>Fournisseur: </p>
                <span class="p-fluid">
                    <p-autoComplete [(ngModel)]="selectedTitulaire" [suggestions]="filteredTitulaire" (completeMethod)="filterTitulaire($event)" [multiple]="true">
                    </p-autoComplete>
                </span>
            </div>
            <div class="field-checkbox">
                <p-checkbox [(ngModel)]="disponibleSelected" name="group1" [binary]="true" inputId="ny"></p-checkbox>
                <label >Disponible</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox [(ngModel)]="generiqueSelected" name="group1" [binary]="true" inputId="ny"></p-checkbox>
                <label >Générique</label>
            </div>
            <div class="field-checkbox">
                <p-checkbox [(ngModel)]="originalSelected" name="group1" [binary]="true" inputId="ny"></p-checkbox>
                <label >Original</label>
            </div>
            <p-button label="Sauvegarder" (onClick)="this.searchFiltres(0)"></p-button>

        </div>
        <div *ngIf=" this.medicamentCards| async as medicaments" class="card-container">
            <div class="card-grid" *ngIf="!isLoading && searchText!=''" >
                <app-shop-card class="purple" *ngFor="let medCard of medicaments" [presentationCard]="medCard" ></app-shop-card>
            </div>
        </div>
        
        <div class="card-grid" *ngIf="isLoading && searchText!=''">
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
        </div>
        <p-paginator *ngIf="this.totalNumberOfPage | async as total" [rows]="24" [totalRecords]="total*24" (onPageChange)="searchFiltres($event.page)"></p-paginator> 
    </div>
</div>

