@import "../../../styles.scss";
@import "../../../styles/default-layout.scss";

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    overflow-y: auto;
}

.p-input-icon-left{
    width: 95%;
}

.p-inputtext-lg{
    width: 100%;
    height: 60px;
    border-radius: 8px;
    border-color: $line;
    &::placeholder{
        color: $placeholder
    }
}

.p-inputtext.p-inputtext-lg{
    padding-left: 60px !important;
}

.pi-search{
    padding-left: 20px;
    color: $placeholder;
}

.pi{
    color: $placeholder;
}

.card-container{
    width: 100%;
}

.card-grid{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: 15px;
    margin-top: 15px;
}

.card{
    width: 100%;
    height: 300px;
    background-color: red;
}

p-paginator{
    margin-top: 12px;
}

.card-container{
    display: flex;
    justify-content: center;
}

@media (max-width: 1387px) {
    .card-grid{
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        grid-auto-rows: auto;
    }
}

@media (max-width: 1120px) {
    .card-grid{
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-auto-rows: auto;
    }
}

.filter-container{
    display: flex;
    flex-direction: row;
    border: solid 1px $line;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    border-radius: 12px;
    gap: 5px;
    &:hover{
        cursor: pointer;
        border: solid 1px rgba(0, 102, 255, 0.51);
    }
}

.toolbar-container{
    width: 95%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.filter-wrap{
    border: solid 1px $line;
    width: 95%;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    row-gap: 10px;
}

label{
    margin-left: 10px;
}
.autocomplete-container{
    width: 95%;
}

.animation{
    width: 75%;
    height: 300px;
    background: linear-gradient(261.95deg, #00BC08 8.19%, #00FF38 85.08%);
    border-radius: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.filter-selected {
    border-color: $primary;
}