<div class="container">
    <div class="hamburger">
        <app-hamburger-menu></app-hamburger-menu>
    </div>

    <div class="sidebar" [ngClass]="width < 1000 ? 'hide' : 'show'">
        <app-sidebar-menu [currentItem]="0"></app-sidebar-menu>
    </div>

    <div class="content">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText  class="p-inputtext-lg"  placeholder="Rechercher un médicament">
        </span>
        <div class="card-grid" *ngIf="!isLoading" >
            <app-shop-card class="purple" *ngFor="let medCard of medicamentCards" [presentationCard]="medCard" ></app-shop-card>
        </div>
        <div class="card-grid" *ngIf="isLoading">
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
            <p-skeleton width="100%" height="300px" borderRadius="18px"></p-skeleton>
        </div>
        <p-paginator [rows]="24" [totalRecords]="this.numberOfPages" (onPageChange)="paginate($event.page)"></p-paginator>
    </div>
</div>

