@import "../../../styles.scss";
@import "../../../styles/default-layout.scss";

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    overflow-y: auto;
}

.p-input-icon-left{
    width: 95%;
}

.p-inputtext-lg{
    width: 100%;
    height: 60px;
    border-radius: 8px;
    border-color: $line;
    &::placeholder{
        color: $placeholder
    }
}

.p-inputtext.p-inputtext-lg{
    padding-left: 60px !important;
}

.pi-search{
    padding-left: 20px;
    color: $placeholder;
}

.pi{
    color: $placeholder;
}

.card-container{
    width: 100%;
}

.card-grid{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: 15px;
    margin-top: 15px;
}

.card{
    width: 100%;
    height: 300px;
    background-color: red;
}

p-paginator{
    margin-top: 12px;
}
@media (max-width: 1000px) {
    .card-grid{
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-auto-rows: auto;
    }
}