<div class="line" *ngIf="presentationLine">
    <div class="group-name">
        <span> {{ presentationLine.denomination }} </span>
    </div>

    <div class="group-action">
        <img class="icon trash" *ngIf="variant == VariantType.EDIT" src="./assets/trash.svg" alt="trash" (click)="deleteMedicament(1)">

        <div class="container-card validate icon" *ngIf="variant == VariantType.UNAVAILABLE" pTooltip="Accepter le delai de 7j" tooltipPosition="top">
            <img src="./assets/validate.svg" alt="validate">
        </div>

        <div class="container-card delete icon" *ngIf="variant == VariantType.UNAVAILABLE" (click)="deleteMedicament(1)" pTooltip="Supprimer le médicament du panier" tooltipPosition="top">
            <img src="./assets/delete.svg" alt="delete">
        </div>

        <div class="container-card warning icon" pTooltip="Ce produit contient certains risque pour la santé" tooltipPosition="top">
            <img src="./assets/warning.svg" alt="warning">
        </div>

        <div class="container-button mt0 icon" *ngIf="variant == VariantType.UNAVAILABLE">
            <button class="button substitution" (click)="deleteMedicament(1)" routerLink="/">
                Substituer
            </button>
        </div>

        <input class="quantity icon" *ngIf="variant == VariantType.EDIT" type="text" [value]="presentationLine.quantite" disabled>

        <span class="icon prixU"> {{ presentationLine.prixUnitaire }}€ </span>
    </div>
</div>