<img class="background" src="./assets/background-welcome.svg"/>
<div class="container">
    <h1>Pharamacie en ligne de GroMed</h1>
    <p>Gromed, votre solution en ligne pour la gestion efficace des commandes de médicaments pour les établissements de santé de la ville de Groland. Commandez facilement vos médicaments, suivez vos commandes en temps réel et bénéficiez d'une livraison rapide directement à votre porte. Simplifiez votre gestion des médicaments avec Gromed.</p>
    <p-button (onClick)="this.openDialog()">Se connecter</p-button>
</div>
