@import "../../../../styles.scss";

.container-steps {
    width: fit-content;
    margin: auto;
    height: auto;
    display: flex;

    margin-top: 0px;
    margin-bottom: 50px;
}

.step {
    width: 65px;
    height: 65px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 30px;
    background-color: $line;

    display: flex;
    justify-content: center;

    h2 {
        margin: auto;
        color: #000;
        font-size: 24px;
        font-weight: 600;
    }

    &.active {
        background-color: $primary;

        h2 {
            color: #FFF;
        }
    }
}

.separation-line {
    width: 125px;
    height: 1px;
    margin-top: 32px;
    background: transparent;
    border: 1px dashed $line;
}

.container-medic {
    width: 70%;
    margin: auto;

    .subtitle {
        font-size: 15px;
        color: $paragraph;
        text-transform: uppercase;
    }
}

.container-total {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-top: 30px;

    span {
        font-size: 16px;
    }

    span:nth-child(2) {
        font-size: 24px;
        font-weight: 400;
        margin-left: 10px;
    }
}

.container-button {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    button {
        width: fit-content;
        padding: 15.5px 36.5px;
        border-radius: 12px;
        background-color: $background;
        border: 1px solid $line;
        color: #000;
        cursor: pointer;
    }

    button:nth-child(1) {
        &:hover {
            background-color: $line;
        }
    }

    button:nth-child(2) {
        color: #FFF;
        background-color: $primary;
    }
}

// @media for mobile devices 1000px
@media only screen and (max-width: 1000px) {
    .container-medic {
        width: fit-content;
    }

    .group-name span {
        padding-right: 30px;
    }
}