$branding: #70E000;
$primary: #266AF6;
$paragraph: #65656A;
$placeholder: #F2F2F3;
$line: #ECECEC;
$background: #FFFFFF;
$secondBackground: #F8F9FA;
$title: #232627;
$success: #34E065;
$error: #F33800;
$warning: #F33800;