<div class="container-medic">
    <p-toast></p-toast>

    <span class="subtitle" *ngIf="medicamentsLine.length > 0 && medicamentsLine.length <= 1"> {{ medicamentsLine.length }} médicament dans mon panier </span>
    <span class="subtitle" *ngIf="medicamentsLine.length > 1"> {{ medicamentsLine.length }} médicaments dans mon panier </span>

    <app-line *ngFor="let medLine of medicamentsLine" [presentationLine]="medLine" [variant]="0" (deleteItemEvent)="deleteItem(medLine.codeCIP7)"></app-line>

    <div class="container-total">
        <span> Sous-Total </span>
        <span style="font-weight: normal !important;"> {{ subTotal.toFixed(2) }}€ </span>
    </div>

    <div class="container-total">
        <span> Réduction </span>
        <span style="font-weight: normal !important;"> {{ reducTotal.toFixed(2) }}€ </span>
    </div>

    <div class="container-total">
        <span> Total </span>
        <span> {{ total.toFixed(2) }}€ </span>
    </div>

    <div class="container-button">
        <button class="button">
            Ajouter une commande type
        </button>

        <button class="button" (click)="nextStep(2)">
            Confirmer mes achats
        </button>
    </div>
</div>