
@import "../steps/steps.component.scss";

.subtotal{
    font-weight: 400 !important;
    font-size: 18px !important;
    color: $paragraph;
    margin-top: 8px;

}


.total-text{
    font-size: 18px !important;
    font-weight: normal !important;
    margin-top: 15px;
}

.total{
    font-size: 24px !important;
    font-weight: 600 !important;
}

.button:disabled {
    background-color: rgba($primary, 0.3) !important;
    cursor: not-allowed !important;
}
