<div class="container">
    <div class="hamburger">
        <app-hamburger-menu></app-hamburger-menu>
    </div>

    <div class="sidebar" [ngClass]="width < 1000 ? 'hide' : 'show'">
        <app-sidebar-menu [currentItem]="1"></app-sidebar-menu>
    </div>

    <div class="content">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input (keyup)="searchCommandType($event)" type="text" pInputText  class="p-inputtext-lg"  placeholder="Rechercher une commande type">
        </span>

        <div class="commande-container" *ngFor="let commande of filteredCommandeTypes">
            <div class="commande-line">
                <h1> {{ commande.name }} </h1>
                <div class="button-line">
                    <button class="buttonAddCart" (click)="addToCart(commande.name!!)" [disabled]="loadingButton">Ajouter au panier</button>
                    <img class="buttonDetail" src="assets/arrow-down.svg" alt="Plus de details" (click)="seeDetailCommandeType(commande.name!!)">
                </div>
            </div>

            <div [ngClass]="commande.name == commandeSelected ? 'display' : 'hide'">
                <ul>
                    <li class="" *ngFor="let presentation of prestations">
                        <p class="quantity"> {{ presentation.quantite }}x </p>
                        <p> {{ presentation.nomPresentation }} </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>