@import "styles/colors.scss";
@import "styles/widgets.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    color: $title;
}
